
  <ion-header-bar class="bar bar-header bar-positive" align-title="center">
    
    <!-- <button class="button button-clear button-icon ion-android-close" ng-click="disclaimerModal.hide()"></button> -->
  

  <h1 class="title">About</h1>
</ion-header-bar>
  <ion-body>
  	<h4>Cinemaghar</h4>
  	<p>Cinemaghar is an app developed to step-up the experience of watching Nepali movies online. Users don't have to spend their entire time remembering the names of movies they want to watch in order to search for them online. The app notifies user as and when any new movie is uploaded. We constantly update our content to stay current with Nepali Movie Industry. </p>
    <h4>Disclaimer</h4>
    <p>No copyright infringement intended. We don't post or own any of the media content made available to the users through this app. All materials used are property of their respective owners. We merely catagorize videos accessible in public domain like Youtube for easier and faster access to users. </p>
  </ion-body>