<ion-view  view-title="Cinemaghar">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-information-outline" ng-click = "showDisclaimerModal()"> </button>
    </div>
    <h1 class="title">
      <img class="appIcon" src="img/icon.png" style="" alt="">
      CINEMAGHAR</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-search"  ng-click="searchModal.show()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
  <ion-spinner icon="crescent" align="center" style="margin-left: auto; margin-right: auto; display:block;" ng-show="loading"></ion-spinner>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="3000" does-continue="true">
      <ion-slide ng-repeat="slide in sliderImages" ng-hide="loading">
       <div class="box blue">
          <a href="#/player/{{slide.movie_id}}" class="heroHeader">
            <img ng-src="http://cinemagharhd.com/images/{{slide.image_name}}" alt="">
            <div class="item" href="#">
              <h2>Watch Now</h2>
              <rating-div class="item-note" rating='slide.Rating'></rating-div>
            </div>
          </a>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="tsb-icons"  data-tab-menu data-ng-model="ui.tabview">
      <div class="tsb-ic-wrp row">
        <div class="col">
          <a href="templates/tab-movie.html" class="icon ion-ios-recording">
            <span>Movies</span>
          </a>
        </div>
        <div class="col">
          <a  href="templates/tab-short.html"  class="icon ion-ios-videocam">
            <span>Short</span>
          </a>
        </div>
      </div>
    </div>

    <div data-ng-include="ui.tabview"> </div>

</div>

</ion-content>
<ion-footer-bar class=" bar-positive">
    <div class="socialIcons">
        <span>Follow Us</span>
        <a href="#" onclick="window.open('https://www.facebook.com/hdcinemaghar','_system','location=yes')" class="socialIcon facebook">
          <i class="icon ion-social-facebook"></i>
        </a>
        <a href="" onclick="window.open('https://www.twitter.com/cinemagharapp','_system','location=yes')" class="socialIcon twitter">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="" onclick="window.open('https://www.instagram.com/cinemaghar' ,'_system','location=yes')" class="socialIcon instagram">
          <i class="icon ion-social-instagram"></i>
        </a>
    </div>
</ion-footer-bar>
</ion-view>
