<ion-view view-title="Cinemaghar Player">
  <ion-header-bar align-title="center" class="bar-positive">
     <div class="buttons">
      <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="myGoBack(play, movie)"> </button>
    </div>

    <h1 class="title">Cinemaghar Player</h1>
    </ion-nav-bar>

  </ion-header-bar>
  <ion-content>
    <!--ion-spinner icon="crescent" align="center" style="margin-left: auto; margin-right: auto; display:block;" ng-show="loading"></ion-spinner-->
    <you-tube play = "play" play_pause = "moviePlayer" video_link="{{movie.video_link}}" movie_name="{{movie.name |lowercase | capitalizeFirstLetter}}" description="{{movie.description}}" spinner="loading"></you-tube>
    <!--iframe id='player' type='text/html' width='100%' height='300' ng-src="{{movie.video_link}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe-->
    <div class="list videoDetails">
      <div class="item item-text-wrap">
        <h2>{{movie.name |lowercase | capitalizeFirstLetter}}</h2>
        <p>{{movie.description}}</p>
        <div class="text-right">
          <p class="tag"><span>Free</span><span>HD</span></p>

          <p class="star">
            <rating-div rating='movie.Rating'>

          </rating-div></p>
          <a href="" ng-click ='trailer(movie)' class="button button-small button-assertive">Watch Trailer </a> </div>
      </div>
    </div>
    <!--<div class="list movieList arrow">
      <div class="item item-divider"> suggested videos </div>
      <a class="item item-thumbnail-left" ng-click="playVideo()"> <img src="img/latest.jpg">
      <h2>Pretty Hate Machine</h2>
      <p class="tag"><span>Free</span><span>HD</span></p>
      <p class="star"><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star-outline"></i><i class="icon ion-ios-star-outline"></i></p>
      </a> </div>
    -->
  </ion-content>
</ion-view>
