
<div class="row">
  <div class="col thumb" ng-click="latestItem('short')">
    <div class="thumbContant">
      <div class="imagesThumb">
        <img src="img/nepali_short.jpg" alt="">
      </div>
      <div class="titleThumb">Short
        <span class="arrow">
          <i class="icon ion-ios-arrow-forward"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col thumb" ng-click="latestItem('documentary')">
    <div class="thumbContant">
      <div class="imagesThumb">
        <img src="img/who-w-b-gurkha.jpg" alt="">
      </div>
      <div class="titleThumb">Documentary
        <span class="arrow">
          <i class="icon ion-ios-arrow-forward"></i>
        </span>
      </div>
    </div>
  </div>
<!--</div>-->
<!-- <div class="row">
  <div class="col thumb" ng-click="latestItem()">
    <div class="thumbContant">
      <div class="imagesThumb"> <img src="img/drama.jpg" alt=""> </div>
      <div class="titleThumb">Drama <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
    </div>
  </div>
  <div class="col thumb" ng-click="latestItem()">
    <div class="thumbContant">
      <div class="imagesThumb"> <img src="img/action.jpg" alt=""> </div>
      <div class="titleThumb">Action <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
    </div>
  </div>
</div> -->
