<div class="movieContainer">
  <div class="row">
    <a class="col thumb" href="#/itemList/exclusive">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Exclusive}}" alt=""> </div>
        <div class="titleThumb">Exclusive <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a>
    <a class="col thumb" href="#/itemList/latest">
      <div class="thumbContant">
        <div class="imagesThumb"> <img ng-src='http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Latest}}' alt=""> </div>
        <div class="titleThumb">Latest <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="col thumb" href="#/itemList/comedy">
      <div class="thumbContant">
        <div class="imagesThumb"> <img ng-src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Comedy}}" alt=""> </div>
        <div class="titleThumb">Comedy <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a>
    <a class="col thumb" href='#/itemList/action'>
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Action}}" alt=""> </div>
        <div class="titleThumb">Action <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="col thumb" href="#/itemList/love story">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages['Love Story']}}" alt=""> </div>
        <div class="titleThumb">Love Story <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a>
    <a class="col thumb" href="#/itemList/drama">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Drama}}" alt=""> </div>
        <div class="titleThumb">Drama <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a>

    <!--a class="col thumb" href="#/itemList/foreign">
      <div class="thumbContant">
        <div class="imagesThumb"> <img src="http://cinemagharhd.com/catagoryImages/{{catagoryBannerImages.Foreign}}" alt=""> </div>
        <div class="titleThumb">Foreign <span class="arrow"><i class="icon ion-ios-arrow-forward"></i></span></div>
      </div>
    </a-->

  </div>
</div>
